
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /mg/andreapuglia.com.br/dynamic/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mg/andreapuglia.com.br/dynamic/index.php [L]
</IfModule>

# END WordPress
